{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td>
                <h1>User: {{ user.username }}</h1>
                {% if user.last_seen %}
                    <p>Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>
                {% endif %}
            </td>
        </tr>
    </table>

    <h3>List of Refugee names you have drawn</h3>
    <table class="table">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Identity</th>
            <th scope="col">Origin</th>
            <th scope="col">Found</th>
            <th scope="col">Cause of Death</th>
        </tr>
        {% for name in names %}
        <tr>
            <td>
                {{ name.id }}
            </td>
            <td>
                {{ name.identity }}
            </td>
            <td>
                {{ name.origin }}
            </td>
            <td>
                {{ name.found }}
            </td>
            <td>
                {{ name.cause_of_death }}
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}